{% extends '../base.html' %}

{% block title %}
Author - {{author.name}}
{% endblock %}


{% block content %}
<div style="text-align:center;">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<h3>{{author.name|title}}'s Collection</h3>
</div>
<br><br>

{% for book in author.book_author.all %}
<div class="small"><Strong>Book ID: </Strong>{{book.id}}</div>
<div><Strong>Book Title: </Strong>{{book.title}}</div>
<hr>
{% endfor %}
<!-- 
    {% for book in books %}
        <div class="small"><Strong>Book ID: </Strong>{{book.id}}</div>
        <div><Strong>Book Title: </Strong>{{book.title}}</div>
        <hr>
    {% endfor %} -->

<p>
    {% if author.name == request.user %}
    <a href="{% url 'books:author_book_edit' author.id %}" role="button" class="btn btn-outline-primary w-100 mb-2">Edit
        Collection</a>
    {% endif %}
    <a href="{% url 'books:authors' %}" role="button" class="btn btn-primary w-100">All Collections</a>
</p>
{% endblock %}