{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Editing Books For {{author.name}}
{% endblock %}


{% block content %}
{% if author.name == user %}

<form method="post" enctype="multipart/form-data">
    <!-- {% for hidden_field in form.hidden_fields %}
        {{hidden_field.errors}}
        {{hidden_field}}
        {% endfor %} -->

    {% csrf_token %}

    {{form.management_form}}
    <!-- {{form.non_form_errors}} -->
    <div style="text-align:center;">

        <h3>Update Collection</h3>
    </div>
    {% for book_form in form.forms %}
    <hr>
    {% if book_form.instance.id %}
    <h6> Book: {{ book_form.instance.title|title }} </h6>
    {% else %}
    {% if form.forms|length > 1 %}
    <h6> Add another book </h6>
    {% else %}
    <h6> Add another book </h6>
    {% endif %}
    {% endif %}
    <!-- {% for hidden_field in book_form.hidden_fields %}
                        {{ hidden_field.errors }}
                    {% endfor %} -->
    <table>
        {{ book_form|crispy }}
    </table>
    {% endfor %}
    <hr>
    <p>
        <button type="submit" class="btn btn-primary w-100 mb-2">Update Collection</button>
        <a href="{{ author.get_absolute_url }}" role="button" class="btn btn-outline-secondary w-100">Cancel</a>
    </p>
</form>
{% else %}
<h1>You Cant Access This Page :)</h1>
{% endif %}
{% endblock %}